<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ContactMapper">

    <resultMap id="BaseResultMap" type="com.entity.Contact">
        <!--@Table contact-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="itemName" column="item_name" jdbcType="VARCHAR"/>
        <result property="subName" column="sub_name" jdbcType="VARCHAR"/>
        <result property="martPrice" column="mart_price" jdbcType="NUMERIC"/>
        <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, pic_url, item_name, sub_name, mart_price, brand_name
        from bx_test.contact
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, pic_url, item_name, sub_name, mart_price, brand_name
        from bx_test.contact
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, pic_url, item_name, sub_name, mart_price, brand_name
        from bx_test.contact
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="picUrl != null and picUrl != ''">
                and pic_url = #{picUrl}
            </if>
            <if test="itemName != null and itemName != ''">
                and item_name = #{itemName}
            </if>
            <if test="subName != null and subName != ''">
                and sub_name = #{subName}
            </if>
            <if test="martPrice != null">
                and mart_price = #{martPrice}
            </if>
            <if test="brandName != null and brandName != ''">
                and brand_name = #{brandName}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into bx_test.contact(pic_url, item_name, sub_name, mart_price, brand_name)
        values (#{picUrl}, #{itemName}, #{subName}, #{martPrice}, #{brandName})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update bx_test.contact
        <set>
            <if test="picUrl != null and picUrl != ''">
                pic_url = #{picUrl},
            </if>
            <if test="itemName != null and itemName != ''">
                item_name = #{itemName},
            </if>
            <if test="subName != null and subName != ''">
                sub_name = #{subName},
            </if>
            <if test="martPrice != null">
                mart_price = #{martPrice},
            </if>
            <if test="brandName != null and brandName != ''">
                brand_name = #{brandName},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from bx_test.contact where id = #{id}
    </delete>

</mapper>